.error {
    background-color: rgb(255, 162, 246);
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    background-position: 150px center;
    background-repeat: no-repeat;
    border: 1px solid rgb(255, 88, 238);
    padding: 30px;
    margin: 10px 20px;
    padding: 15px 10px 15px 50px;
    text-align: center;
}

.wordLimit {
    background-color: rgb(123, 255, 0);
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    background-position: 150px center;
    background-repeat: no-repeat;
    border: 1px solid rgb(92, 189, 0);
    padding: 30px;
    margin: 10px 20px;
    padding: 15px 10px 15px 50px;
    text-align: center;
}
h1 {
    padding-left: 1rem;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-bottom: 10px;
    font-weight: bold;
}

div.blogEntry-container {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(70, 70, 70);
    margin: 200px;
    padding: 1rem 5rem 3rem 3rem;
    text-align: left;
}

div.blogEntryContainer{
    border: 2px solid orange;
    background-color: white;
    text-align: center;
}

div.blogEntry-wrapper{
    background-color: rgb(255, 255, 255);
    border: 2px dashed orange;
    padding: 2rem 2rem 1rem 2rem;
    margin-left: 0rem 3rem 5rem 5rem;
}

div {
    text-align: left;
    margin: 1rem;
    align-content: left;
    padding: 0rem;
}

.blogEntryTitle {
    font: Swiss-721, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    background-image: url("logo.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50px;
    padding: 50px 50px 0px 50px;
}

.liElement {
    color: white;
}

.navToCreatePage1 {
    padding-left: 0rem;
    padding-right: 1rem;
}

#root {
    font: Swiss-721, Arial, Helvetica, sans-serif;
    background-color:#afafaf;
    padding: 10px 10px 10px 10px;
}

.resetButton {
    background-color:  rgb(62, 62, 62);
    border-radius: 4px;
    color: white;
    font: Swiss-721, Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 6px 20px;
    transition-duration: 0.4s;
}

.resetButton:hover {
    background-color: gray;
    color: white;
  }

.submitButton {
    background-color:  rgb(62, 62, 62);
    border-radius: 4px;
    color: white;
    font: Swiss-721, Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 6px 20px;
    transition-duration: 0.4s;
}

.submitButton:hover {
    background-color: gray;
    color: white;
}

.homePageDiv { 
    padding-right: 1rem;
    text-align: center;
}

